## 1. Complete the following code to find the area of an equilateral triangle. Output should be as displayed

In [2]:
import math
side = float(input("Enter the side of the equilateral triangle: "))
area = ((math.sqrt(3))/4)*(math.pow(side,2))
print ("area is :",area)

Enter the side of the equilateral triangle: 4
area is : 6.928203230275509

## 2. Write a program to count the number of each characters in a string

In [2]:
str = input("enter any string :")
a = 0
i = 0
while(i < len(str)):
    a = a + 1
    i = i + 1
     
print("Total numbers of character in this string is: ", a)

enter any string :hello
Total numbers of character in this string is: 5

## Write a program to find the area and perimeter of a rectangle using functions

In [4]:
def area( a, b):
    return (a * b)
def perimeter( a, b):
    return (2 * (a + b))
l = float(input("enter the length : "))
b = float(input("enter the breadth : "))
print ("Area= ", area(l, b))
print ("Perimeter= " , perimeter(l, b))

enter the length : 4
enter the breadth : 2
Area=  8.0
Perimeter=  12.0

## 4. Write a program to print the fibonacci series till a specified number

In [25]:
n = int(input(" enter the range of number: "))
a = 0
b = 1
for i in range(0, n):
    if(i <= 1):
        c = i
        
    else:
        c = a + b
        a = b
        b = c
    print (c)

 enter the range of number: 10
0
1
1
2
3
5
8
13
21
34

## 5. Complete the following code to find the minimum of 3 number using cinditional statements. Output should be as displayed

In [6]:
a,b,c = input("Enter three numbers followed by  : ").split()

print("First number :",a)
print("Second number :",b)
print("Third number :",c)
if(a == b and a == c and b == c):

    print("Entered numbers are equal!!!")
elif (a < b) and (a < c) :
    print(a," is smallest")
elif (b < a) and (b < c) :
    print(b," is smallest")
else :
    print(c," is smallest")

Enter three numbers followed by  : 3 -11 12
First number : 3
Second number : -11
Third number : 12
-11  is smallest

In [12]:
a,b,c = input("Enter three numbers followed by space : ").split()

print("First number :",a)
print("Second number :",b)
print("Third number :",c)

if(a == b and a == c and b == c):

    print("Entered numbers are equal!!!")
elif (a < b) and (a < c) :
    print(a," is smallest")
elif (b < a) and (b < c) :
    print(b," is smallest")
else :
    print(c," is smallest")

Enter three numbers followed by space : 3 -11 12
First number : 3
Second number : -11
Third number : 12
-11  is smallest

## 6. Write a program to print star pyramind. The number of rows should be taken as input from the user

In [11]:
rows = int(input("enter the number of rows"))
for i in range(rows):
    for j in range(i + 1) :
        print("*", end="")
    print("\n")

enter the number of rows5
*

**

***

****

*****

## 7. Complete the following code to convert hour into seconds. Output should be as displayed

In [ ]:
def to_seconds(t):
    
    return t
time_in_hours = 
print(time_in_hours ," Hour is equal to" ,to_seconds(time_in_hours) ," Seconds")

Enter time in Hours :12
12  Hour is equal to 43200  Seconds

## 8. Write a program to print multiplication table as below

Enter a number to find the multiplication table: 4
1 x 4 = 4
2 x 4 = 8
3 x 4 = 12
4 x 4 = 16
5 x 4 = 20
6 x 4 = 24
7 x 4 = 28
8 x 4 = 32
9 x 4 = 36
10 x 4 = 40

## 9. Write a program to take your 5 favorite food as list and print each as 'I like Biriyani'

In [16]:
x = str(input("enter your favourite food with space")).split(" ")
for x in range(len(x)):
    print("I Like",x)

enter your favourite food with spacegrapes apple orange
I Like 0
I Like 1
I Like 2

## 10. Find error(s) in the following code(if any) and rewrite code.

In [24]:
x = int(input("Enter Value of x:"))
for x in range [0,10] :
    if x == y :
          print("They are equal")
    else:
         Print( "They are unequal")

Enter Value of x:3

TypeError: 'type' object is not subscriptable